##Stock Price Sentimental Analysis Project
Team Members: Philip Borozenets, Cameron Feder, Kariem Osman & Brian Zuniga

##Overview
(Project Discription)

## Data


This is a combined dataset of new articles September 13, 2022 - March 13, 2023 which was taken from Huffington Post, New York Times, The Guardian & Fin Viz that was used to run sentimental analysis to predict impact on stock prices pulled from yahoo finance to identify a corralation. The `(Dataset name)` Dataset contains X rows and y columns.

# **GitHub Project**
Our team has made a github project, a repository. The URL of the project is (insert URL)

In [ ]:
%rm -rf stonks/

In [ ]:
!git clone https://github.com/IS737StockPicker/stonks

Cloning into 'stonks'...
remote: Enumerating objects: 171, done.
remote: Counting objects: 100% (6/6), done.
remote: Compressing objects: 100% (6/6), done.
remote: Total 171 (delta 1), reused 0 (delta 0), pack-reused 165
Receiving objects: 100% (171/171), 13.11 MiB | 17.90 MiB/s, done.
Resolving deltas: 100% (68/68), done.

##Importing Nessecary Packages & Data in Data Frame:

In [ ]:
#importing packages 
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.feature_extraction.text import CountVectorizer #text data
from sklearn.naive_bayes import MultinomialNB # The Naive Bayes algo


from tqdm import tqdm # progress slider for ``for'' loops

##Importing Huffington Post News Category Dataset

In [ ]:
huff_news_condensed = pd.read_csv('/content/stonks/Huff_News_Condensed.csv')
huff_news_condensed.head ()

,headline,category,short_description,date
0,U.S. Inflation Falls For 2nd Straight Month On...,U.S. NEWS,"On a monthly basis, prices rose 0.1%, after a ...",2022-09-13
1,"Jean-Luc Godard, Pioneering French Filmmaker, ...",ENTERTAINMENT,The director was best known for the groundbrea...,2022-09-13
2,Thousands Of Minnesota Nurses Launch 3-day Str...,U.S. NEWS,They're pressing for salary increases they say...,2022-09-13
3,Joe Biden Urges National Unity In Speech On Re...,POLITICS,"""Cancer does not discriminate red and blue,"" t...",2022-09-13
4,Sen. Tim Scott Downplays Electability Concerns...,POLITICS,"""Who we have on the field is who we’re gonna p...",2022-09-12

In [ ]:
#Concise summary of data
huff_news_condensed.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 972 entries, 0 to 971
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   headline           972 non-null    object
 1   category           972 non-null    object
 2   short_description  972 non-null    object
 3   date               972 non-null    object
dtypes: object(4)
memory usage: 30.5+ KB

In [ ]:
# Checking for missing values
huff_news_condensed.isna().sum()
#data set has no missing values

headline             0
category             0
short_description    0
date                 0
dtype: int64

In [ ]:
# Eliminate non-desired topics
huff_news_sentiment = pd.DataFrame ()
desired_topics =['U.S. NEWS','WORLD NEWS','TECH','POLITICS','ENVIRONMENT']
for topics in desired_topics:
  temp = huff_news_condensed[huff_news_condensed['category'] == topics]
  data = [huff_news_sentiment, temp]
  huff_news_sentiment = pd.concat(data)
huff_news_final = huff_news_sentiment.sort_values ('date').reset_index (drop = True)
huff_news_final

,headline,category,short_description,date
0,Russian Airstrike Hits Base In Western Ukraine...,WORLD NEWS,The attacked training base near Yavoriv is les...,2022-03-13
1,"Census: Black Population Grows In Suburbs, Shr...",U.S. NEWS,"For decades, Black residents have been leaving...",2022-03-13
2,Average U.S. Gas Price Rises 22% In Two Weeks ...,U.S. NEWS,The price at the pump is $1.54 higher than it ...,2022-03-13
3,Idaho Gov. Candidate Ammon Bundy Busted Protes...,POLITICS,Right-wing rancher and gubernatorial candidate...,2022-03-13
4,Joe Manchin Opposes Sarah Bloom Raskin Nominat...,POLITICS,"The conservative Democrat said Raskin ""failed ...",2022-03-14
...,...,...,...,...
599,Electability Is On The Ballot In Key Rhode Isl...,POLITICS,Democrats in the state’s more moderate House d...,2022-09-12
600,Sen. Tim Scott Downplays Electability Concerns...,POLITICS,"""Who we have on the field is who we’re gonna p...",2022-09-12
601,Joe Biden Urges National Unity In Speech On Re...,POLITICS,"""Cancer does not discriminate red and blue,"" t...",2022-09-13
602,Thousands Of Minnesota Nurses Launch 3-day Str...,U.S. NEWS,They're pressing for salary increases they say...,2022-09-13
603,U.S. Inflation Falls For 2nd Straight Month On...,U.S. NEWS,"On a monthly basis, prices rose 0.1%, after a ...",2022-09-13

In [ ]:
#Running News Sentiment Analysis on Headlines

#Importing nessecary tools
import nltk
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer as SIA

#Initalizing Sentiment Analysis 
sia = SIA ()

#Using Sentiment Analysis 
headline_sentiment = []
headline = huff_news_final['headline'].tolist ()
for news in headline:
  pol_score =sia.polarity_scores (news)
  pol_score ['headline']= news 
  headline_sentiment.append (pol_score)
headline_sentiment_df=pd.DataFrame.from_records(headline_sentiment)
headline_sentiment_df
huff_news_final['News Sentiment'] = headline_sentiment_df ['compound']
huff_news_final

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...

,headline,category,short_description,date,News Sentiment
0,Russian Airstrike Hits Base In Western Ukraine...,WORLD NEWS,The attacked training base near Yavoriv is les...,2022-03-13,-0.5423
1,"Census: Black Population Grows In Suburbs, Shr...",U.S. NEWS,"For decades, Black residents have been leaving...",2022-03-13,0.0000
2,Average U.S. Gas Price Rises 22% In Two Weeks ...,U.S. NEWS,The price at the pump is $1.54 higher than it ...,2022-03-13,0.0000
3,Idaho Gov. Candidate Ammon Bundy Busted Protes...,POLITICS,Right-wing rancher and gubernatorial candidate...,2022-03-13,-0.4215
4,Joe Manchin Opposes Sarah Bloom Raskin Nominat...,POLITICS,"The conservative Democrat said Raskin ""failed ...",2022-03-14,0.0000
...,...,...,...,...,...
599,Electability Is On The Ballot In Key Rhode Isl...,POLITICS,Democrats in the state’s more moderate House d...,2022-09-12,0.0000
600,Sen. Tim Scott Downplays Electability Concerns...,POLITICS,"""Who we have on the field is who we’re gonna p...",2022-09-12,-0.4215
601,Joe Biden Urges National Unity In Speech On Re...,POLITICS,"""Cancer does not discriminate red and blue,"" t...",2022-09-13,0.0000
602,Thousands Of Minnesota Nurses Launch 3-day Str...,U.S. NEWS,They're pressing for salary increases they say...,2022-09-13,-0.2263
603,U.S. Inflation Falls For 2nd Straight Month On...,U.S. NEWS,"On a monthly basis, prices rose 0.1%, after a ...",2022-09-13,-0.0772

In [ ]:
#Running News Sentiment Analysis on Body of Article

#Initalizing Sentiment Analysis 
sia = SIA ()

#Using Sentiment Analysis 
body_sentiment = []
body = huff_news_final['short_description'].tolist ()
for news in body:
  pol_score =sia.polarity_scores (news)
  pol_score ['short_description']= news 
  body_sentiment.append (pol_score)
body_sentiment_df=pd.DataFrame.from_records(body_sentiment)
body_sentiment_df
huff_news_final['Body Sentiment'] = body_sentiment_df ['compound']
huff_news_final

,headline,category,short_description,date,News Sentiment,Body Sentiment
0,Russian Airstrike Hits Base In Western Ukraine...,WORLD NEWS,The attacked training base near Yavoriv is les...,2022-03-13,-0.5423,-0.6124
1,"Census: Black Population Grows In Suburbs, Shr...",U.S. NEWS,"For decades, Black residents have been leaving...",2022-03-13,0.0000,0.3818
2,Average U.S. Gas Price Rises 22% In Two Weeks ...,U.S. NEWS,The price at the pump is $1.54 higher than it ...,2022-03-13,0.0000,0.0000
3,Idaho Gov. Candidate Ammon Bundy Busted Protes...,POLITICS,Right-wing rancher and gubernatorial candidate...,2022-03-13,-0.4215,0.4404
4,Joe Manchin Opposes Sarah Bloom Raskin Nominat...,POLITICS,"The conservative Democrat said Raskin ""failed ...",2022-03-14,0.0000,-0.6705
...,...,...,...,...,...,...
599,Electability Is On The Ballot In Key Rhode Isl...,POLITICS,Democrats in the state’s more moderate House d...,2022-09-12,0.0000,0.4215
600,Sen. Tim Scott Downplays Electability Concerns...,POLITICS,"""Who we have on the field is who we’re gonna p...",2022-09-12,-0.4215,0.0000
601,Joe Biden Urges National Unity In Speech On Re...,POLITICS,"""Cancer does not discriminate red and blue,"" t...",2022-09-13,0.0000,-0.9153
602,Thousands Of Minnesota Nurses Launch 3-day Str...,U.S. NEWS,They're pressing for salary increases they say...,2022-09-13,-0.2263,0.6705
603,U.S. Inflation Falls For 2nd Straight Month On...,U.S. NEWS,"On a monthly basis, prices rose 0.1%, after a ...",2022-09-13,-0.0772,0.0000

In [ ]:
#Setting Index to Date
huff_news_final.set_index('date')

,headline,category,short_description,News Sentiment,Body Sentiment
date,,,,,
2022-03-13,Russian Airstrike Hits Base In Western Ukraine...,WORLD NEWS,The attacked training base near Yavoriv is les...,-0.5423,-0.6124
2022-03-13,"Census: Black Population Grows In Suburbs, Shr...",U.S. NEWS,"For decades, Black residents have been leaving...",0.0000,0.3818
2022-03-13,Average U.S. Gas Price Rises 22% In Two Weeks ...,U.S. NEWS,The price at the pump is $1.54 higher than it ...,0.0000,0.0000
2022-03-13,Idaho Gov. Candidate Ammon Bundy Busted Protes...,POLITICS,Right-wing rancher and gubernatorial candidate...,-0.4215,0.4404
2022-03-14,Joe Manchin Opposes Sarah Bloom Raskin Nominat...,POLITICS,"The conservative Democrat said Raskin ""failed ...",0.0000,-0.6705
...,...,...,...,...,...
2022-09-12,Electability Is On The Ballot In Key Rhode Isl...,POLITICS,Democrats in the state’s more moderate House d...,0.0000,0.4215
2022-09-12,Sen. Tim Scott Downplays Electability Concerns...,POLITICS,"""Who we have on the field is who we’re gonna p...",-0.4215,0.0000
2022-09-13,Joe Biden Urges National Unity In Speech On Re...,POLITICS,"""Cancer does not discriminate red and blue,"" t...",0.0000,-0.9153
2022-09-13,Thousands Of Minnesota Nurses Launch 3-day Str...,U.S. NEWS,They're pressing for salary increases they say...,-0.2263,0.6705
2022-09-13,U.S. Inflation Falls For 2nd Straight Month On...,U.S. NEWS,"On a monthly basis, prices rose 0.1%, after a ...",-0.0772,0.0000

In [ ]:
##Get Average Daily Sentament Score For Headline & Body

# group by date and calculate the mean of 'News Sentiment'
daily_avg_news_sentiment = huff_news_final.groupby('date').mean().round (2)
daily_avg_news_sentiment = daily_avg_news_sentiment.rename(columns={'News Sentiment': 'Headline Mean', 'Body Sentiment': 'Body Mean'})
daily_avg_news_sentiment

<ipython-input-12-a28038d4bbad>:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  daily_avg_news_sentiment = huff_news_final.groupby('date').mean().round (2)

            Headline Mean  Body Mean
date
2022-03-13          -0.24       0.05
2022-03-14          -0.12      -0.06
2022-03-15          -0.44      -0.39
2022-03-16           0.10      -0.09
2022-03-17          -0.20      -0.14
...                   ...        ...
2022-09-09          -0.10       0.25
2022-09-10          -0.22       0.23
2022-09-11          -0.31      -0.27
2022-09-12          -0.40       0.27
2022-09-13          -0.10      -0.08

[183 rows x 2 columns]

In [ ]:
##Adding Median Daily Sentament Score to our List

# group by date and calculate the median of 'News Sentiment'
daily_med_news_sentiment = huff_news_final.groupby('date').median().round (2)
daily_med_news_sentiment = daily_med_news_sentiment.rename(columns={'News Sentiment': 'Headline Median', 'Body Sentiment': 'Body Median'})
daily_med_news_sentiment

<ipython-input-13-0a5873ada2f8>:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.median is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  daily_med_news_sentiment = huff_news_final.groupby('date').median().round (2)

            Headline Median  Body Median
date
2022-03-13            -0.21         0.19
2022-03-14             0.00         0.00
2022-03-15            -0.46        -0.47
2022-03-16             0.00        -0.13
2022-03-17            -0.03        -0.03
...                     ...          ...
2022-09-09            -0.10         0.25
2022-09-10            -0.34         0.34
2022-09-11            -0.33        -0.36
2022-09-12            -0.42         0.38
2022-09-13            -0.08         0.00

[183 rows x 2 columns]

In [ ]:
##Getting Max/Min Daily Sentament Score For Headline & Body

# group by date and calculate the mean of 'News Sentiment'
daily_max_news_sentiment = huff_news_final.groupby('date').max().round (2)
daily_max_news_sentiment = daily_max_news_sentiment.rename(columns={'News Sentiment': 'Headline Max', 'Body Sentiment': 'Body Max'})
daily_max_news_sentiment

,headline,category,short_description,Headline Max,Body Max
date,,,,,
2022-03-13,Russian Airstrike Hits Base In Western Ukraine...,WORLD NEWS,The price at the pump is $1.54 higher than it ...,0.00,0.44
2022-03-14,Stocks Sway On Wall Street As Oil Slides To $1...,WORLD NEWS,"The conservative Democrat said Raskin ""failed ...",0.74,0.30
2022-03-15,"UN Says Women Pay Highest Price In Conflict, N...",WORLD NEWS,The president will travel next week to Brussel...,0.00,0.13
2022-03-16,Ukraine President Volodymyr Zelenskyy To Appea...,WORLD NEWS,Ukraine’s president seeks help to “close the s...,0.51,0.40
2022-03-17,"Strong Japan Earthquake Kills 4, Injures 107",WORLD NEWS,Two Canadian students were also hospitalized i...,0.56,0.00
...,...,...,...,...,...
2022-09-09,UN Chief Asks World For 'Massive' Help In Floo...,WORLD NEWS,"Speaking from Islamabad, Antonio Guterres said...",0.40,0.49
2022-09-10,Ukraine Claws Back Some Territory; Nuclear Pla...,WORLD NEWS,Visa’s adoption is significant as the largest ...,0.00,0.57
2022-09-11,"Weather Helping, But Threat From Western Fires...",WORLD NEWS,"The plant, one of the 10 biggest atomic power ...",0.05,0.34
2022-09-12,Sen. Tim Scott Downplays Electability Concerns...,POLITICS,Democrats in the state’s more moderate House d...,0.00,0.42
2022-09-13,U.S. Inflation Falls For 2nd Straight Month On...,U.S. NEWS,They're pressing for salary increases they say...,0.00,0.67

In [ ]:
##Adding Min Daily Sentament Score for Headline & Boddy

# group by date and calculate the median of 'News Sentiment'
daily_min_news_sentiment = huff_news_final.groupby('date').min().round (2)
daily_min_news_sentiment = daily_min_news_sentiment.rename(columns={'News Sentiment': 'Headline Min', 'Body Sentiment': 'Body Min'})
daily_min_news_sentiment

,headline,category,short_description,Headline Min,Body Min
date,,,,,
2022-03-13,Average U.S. Gas Price Rises 22% In Two Weeks ...,POLITICS,"For decades, Black residents have been leaving...",-0.54,-0.61
2022-03-14,"Breonna Taylor’s Family, Supporters Sustain Pu...",POLITICS,Breonna Taylor’s family has joined with demons...,-0.80,-0.67
2022-03-15,Biden To Travel To Europe For NATO Summit On R...,POLITICS,Cook County State’s Attorney Kim Foxx said the...,-0.76,-0.85
2022-03-16,"BMW, VW Warn Of Shortages From Part Suppliers ...",POLITICS,BMW and Volkswagen have warned that Russia’s i...,-0.25,-0.56
2022-03-17,"9 Dead, 2 Injured In Fiery Crash Involving Uni...",POLITICS,Jeff Zients and his deputy Natalie Quillian wi...,-0.90,-0.49
...,...,...,...,...,...
2022-09-09,'Our Hearts Are Broken': Historic Front Pages ...,WORLD NEWS,Both British and international newspapers hono...,-0.60,0.00
2022-09-10,Payment Processor Visa To Start Categorizing S...,ENVIRONMENT,After a 10-day heat wave that nearly overwhelm...,-0.40,-0.18
2022-09-11,9/11 Attacks Still Reverberate As U.S. Marks 2...,POLITICS,Firefighters made progress against a huge Nort...,-0.61,-0.69
2022-09-12,Electability Is On The Ballot In Key Rhode Isl...,POLITICS,"""Who we have on the field is who we’re gonna p...",-0.79,0.00
2022-09-13,Joe Biden Urges National Unity In Speech On Re...,POLITICS,"""Cancer does not discriminate red and blue,"" t...",-0.23,-0.92

In [ ]:
#Combining our Avg & Median News Sentiment results into one data frame

daily_news_sentiment = pd.concat ([daily_avg_news_sentiment, daily_med_news_sentiment, daily_max_news_sentiment, daily_min_news_sentiment], axis = 1, join = 'inner')
daily_news_sentiment

,Headline Mean,Body Mean,Headline Median,Body Median,headline,category,short_description,Headline Max,Body Max,headline,category,short_description,Headline Min,Body Min
date,,,,,,,,,,,,,,
2022-03-13,-0.24,0.05,-0.21,0.19,Russian Airstrike Hits Base In Western Ukraine...,WORLD NEWS,The price at the pump is $1.54 higher than it ...,0.00,0.44,Average U.S. Gas Price Rises 22% In Two Weeks ...,POLITICS,"For decades, Black residents have been leaving...",-0.54,-0.61
2022-03-14,-0.12,-0.06,0.00,0.00,Stocks Sway On Wall Street As Oil Slides To $1...,WORLD NEWS,"The conservative Democrat said Raskin ""failed ...",0.74,0.30,"Breonna Taylor’s Family, Supporters Sustain Pu...",POLITICS,Breonna Taylor’s family has joined with demons...,-0.80,-0.67
2022-03-15,-0.44,-0.39,-0.46,-0.47,"UN Says Women Pay Highest Price In Conflict, N...",WORLD NEWS,The president will travel next week to Brussel...,0.00,0.13,Biden To Travel To Europe For NATO Summit On R...,POLITICS,Cook County State’s Attorney Kim Foxx said the...,-0.76,-0.85
2022-03-16,0.10,-0.09,0.00,-0.13,Ukraine President Volodymyr Zelenskyy To Appea...,WORLD NEWS,Ukraine’s president seeks help to “close the s...,0.51,0.40,"BMW, VW Warn Of Shortages From Part Suppliers ...",POLITICS,BMW and Volkswagen have warned that Russia’s i...,-0.25,-0.56
2022-03-17,-0.20,-0.14,-0.03,-0.03,"Strong Japan Earthquake Kills 4, Injures 107",WORLD NEWS,Two Canadian students were also hospitalized i...,0.56,0.00,"9 Dead, 2 Injured In Fiery Crash Involving Uni...",POLITICS,Jeff Zients and his deputy Natalie Quillian wi...,-0.90,-0.49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-09-09,-0.10,0.25,-0.10,0.25,UN Chief Asks World For 'Massive' Help In Floo...,WORLD NEWS,"Speaking from Islamabad, Antonio Guterres said...",0.40,0.49,'Our Hearts Are Broken': Historic Front Pages ...,WORLD NEWS,Both British and international newspapers hono...,-0.60,0.00
2022-09-10,-0.22,0.23,-0.34,0.34,Ukraine Claws Back Some Territory; Nuclear Pla...,WORLD NEWS,Visa’s adoption is significant as the largest ...,0.00,0.57,Payment Processor Visa To Start Categorizing S...,ENVIRONMENT,After a 10-day heat wave that nearly overwhelm...,-0.40,-0.18
2022-09-11,-0.31,-0.27,-0.33,-0.36,"Weather Helping, But Threat From Western Fires...",WORLD NEWS,"The plant, one of the 10 biggest atomic power ...",0.05,0.34,9/11 Attacks Still Reverberate As U.S. Marks 2...,POLITICS,Firefighters made progress against a huge Nort...,-0.61,-0.69
2022-09-12,-0.40,0.27,-0.42,0.38,Sen. Tim Scott Downplays Electability Concerns...,POLITICS,Democrats in the state’s more moderate House d...,0.00,0.42,Electability Is On The Ballot In Key Rhode Isl...,POLITICS,"""Who we have on the field is who we’re gonna p...",-0.79,0.00
2022-09-13,-0.10,-0.08,-0.08,0.00,U.S. Inflation Falls For 2nd Straight Month On...,U.S. NEWS,They're pressing for salary increases they say...,0.00,0.67,Joe Biden Urges National Unity In Speech On Re...,POLITICS,"""Cancer does not discriminate red and blue,"" t...",-0.23,-0.92

In [ ]:
#Getting the Name of my Index
daily_news_sentiment.index.name

'date'

In [ ]:
#Settng a new Inde Name
daily_news_sentiment.index.name = 'Date'

In [ ]:
#Confirming Index Name Change
daily_news_sentiment.index.name

'Date'

In [ ]:
#Dropping Unwanted Coloumns to Clean up Data Presentation
 
unwanted_columns =['headline','category', 'short_description']
daily_news_sentiment = daily_news_sentiment.drop (unwanted_columns, axis = 1)
 
# Print the new dataframe
daily_news_sentiment

,Headline Mean,Body Mean,Headline Median,Body Median,Headline Max,Body Max,Headline Min,Body Min
Date,,,,,,,,
2022-03-13,-0.24,0.05,-0.21,0.19,0.00,0.44,-0.54,-0.61
2022-03-14,-0.12,-0.06,0.00,0.00,0.74,0.30,-0.80,-0.67
2022-03-15,-0.44,-0.39,-0.46,-0.47,0.00,0.13,-0.76,-0.85
2022-03-16,0.10,-0.09,0.00,-0.13,0.51,0.40,-0.25,-0.56
2022-03-17,-0.20,-0.14,-0.03,-0.03,0.56,0.00,-0.90,-0.49
...,...,...,...,...,...,...,...,...
2022-09-09,-0.10,0.25,-0.10,0.25,0.40,0.49,-0.60,0.00
2022-09-10,-0.22,0.23,-0.34,0.34,0.00,0.57,-0.40,-0.18
2022-09-11,-0.31,-0.27,-0.33,-0.36,0.05,0.34,-0.61,-0.69
2022-09-12,-0.40,0.27,-0.42,0.38,0.00,0.42,-0.79,0.00
2022-09-13,-0.10,-0.08,-0.08,0.00,0.00,0.67,-0.23,-0.92

In [ ]:
#Converting Daily Avg News Sentiment Dataframe to CSV to Upload to github for predicting model 
daily_news_sentiment.to_csv ('Huff_News_Avg_News_Sentiment.csv', index = True)

##New York Times

###Data Collection

In [ ]:
import requests
import os
import json

apikey = os.getenv('NYTIMES_APIKEY', 'SqzyHe7mmHI7o9uARoryVwi8wCVHdKzJ')

ny_data = {}
year = 2022
month = 9

#create for loop for differnet months
filename = f"ny_stories.json"
query_url = f"https://api.nytimes.com/svc/archive/v1/{year}/{month}.json?api-key={apikey}"

r = requests.get(query_url)

ny_data.update(r.json())

# Save NY Data
with open(filename, 'w') as f:
  json.dump(ny_data, f)

###Data Cleaning

In [ ]:
from datetime import datetime
import pandas as pd

#load NY data
# ny_data = json.load(open(filename))

ny_docs = ny_data['response']['docs']
cleaned_ny_data = {
    'headline':[],
    'abstract':[],
    'pub_date': [],
    'section': []
}

start_date = datetime.strptime('2022-09-13', "%Y-%m-%d").date()
end_date = datetime.strptime('2023-03-13', "%Y-%m-%d").date()

for doc in ny_docs:

  #filter sections
  sec_name = doc['section_name']
  if sec_name not in ['Business Day', 'Technology', 'Real Estate']: # 'U.S.' ,''World'
    continue

  #Filter dates
  pub_date = doc['pub_date']
  date = datetime.strptime(pub_date.split('T')[0], "%Y-%m-%d").date()
  if date < start_date or date > end_date:
    continue

  # fill in Dict
  cleaned_ny_data['headline'].append(doc['headline']['main'])
  cleaned_ny_data['abstract'].append(doc['abstract'])
  cleaned_ny_data['pub_date'].append(str(date))
  cleaned_ny_data['section'].append(doc['section_name'])

cleaned_ny_data_df = pd.DataFrame(cleaned_ny_data)
cleaned_ny_data_df.head(10)

,headline,abstract,pub_date,section
0,A $100 Million Bet on Finding the Next ‘Mr. Be...,"Reed Duchscher, the manager of the YouTube meg...",2022-09-13,Business Day
1,Why You Should Decorate Your Hallway (and How ...,"When you’re furnishing your home, it’s easy to...",2022-09-13,Real Estate
2,Markets Plunge as Inflation Data Undercuts Wal...,"Stocks plunged, government bond yields soared ...",2022-09-13,Business Day
3,"Inflation Remained Stubbornly High in August, ...",Overall inflation moderated less than anticipa...,2022-09-13,Business Day
4,"Inflation Explained: The Good, the Bad and the...",Amid hopeful signs that U.S. inflation was abo...,2022-09-13,Business Day
5,U.S. Gas Prices Have Fallen for 91 Straight Da...,The steady decline is also a welcome developme...,2022-09-13,Business Day
6,Twitter Whistle-blower Is Set to Testify in Wa...,Elon Musk’s legal team will follow closely the...,2022-09-13,Business Day
7,‘The Future of Hospitals’: Flexible Space for ...,After struggling to respond to a crushing Covi...,2022-09-13,Business Day
8,Pandemic Aid Cut U.S. Poverty to New Low in 20...,A measure that accounts for all federal subsid...,2022-09-13,Business Day
9,How Is the Economy Doing?,"Most of the economy appears to be doing well, ...",2022-09-13,Business Day

# Stock Ticker Data

In [ ]:
pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: yfinance in /usr/local/lib/python3.9/dist-packages (0.2.13)
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.9/dist-packages (from yfinance) (4.9.2)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.9/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.9/dist-packages (from yfinance) (2.27.1)
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.9/dist-packages (from yfinance) (1.22.4)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /usr/local/lib/python3.9/dist-packages (from yfinance) (4.11.2)
Requirement already satisfied: html5lib>=1.1 in /usr/local/lib/python3.9/dist-packages (from yfinance) (1.1)
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.9/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.9/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in /usr/local/lib/python3.9/dist-packages (from yfinance) (2022.7.1)
Requirement already satisfied: cryptography>=3.3.2 in /usr/local/lib/python3.9/dist-packages (from yfinance) (39.0.2)
Requirement already satisfied: frozendict>=2.3.4 in /usr/local/lib/python3.9/dist-packages (from yfinance) (2.3.6)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.9/dist-packages (from beautifulsoup4>=4.11.1->yfinance) (2.4)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.9/dist-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: webencodings in /usr/local/lib/python3.9/dist-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.9/dist-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests>=2.26->yfinance) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests>=2.26->yfinance) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests>=2.26->yfinance) (3.4)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: pycparser in /usr/local/lib/python3.9/dist-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from plotnine import *
import yfinance as yf


# IMPORT THE LIBRARY
from datetime import datetime

# CREATE TICKER INSTANCE FOR AMAZON
end_date = datetime.now().strftime('%Y-%m-%d')
stocks = ["AMZN","GOOG","MSFT","GME","TSLA","SPY"]
#stocks =['VENAX']
end_date = datetime.now().strftime('%Y-%m-%d')
i=0
test = pd.DataFrame()
for stock in stocks:
  

  stocks[i] = yf.Ticker(stock)
  stocks[i]= stocks[i].history(start='2022-01-01',end=end_date)
  ticker = stock
  #print(stocks[i])
  stocks[i]['Ticker'] = ticker
  #print(stocks[i])
  #print(stocks[0])
  test = test.append(stocks[i])
  i+=1
test['win_loss_value'] = test.Close - test.Open
test['win_loss'] = np.where(test['win_loss_value']>0, 'Up', 'Down')
test.reset_index(inplace=True)
test.info()
test.Ticker()

<ipython-input-7-cf85b0d685d2>:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<ipython-input-7-cf85b0d685d2>:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<ipython-input-7-cf85b0d685d2>:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<ipython-input-7-cf85b0d685d2>:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1854 entries, 0 to 1853
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            1854 non-null   datetime64[ns, America/New_York]
 1   Open            1854 non-null   float64
 2   High            1854 non-null   float64
 3   Low             1854 non-null   float64
 4   Close           1854 non-null   float64
 5   Volume          1854 non-null   int64
 6   Dividends       1854 non-null   float64
 7   Stock Splits    1854 non-null   float64
 8   Ticker          1854 non-null   object
 9   Capital Gains   309 non-null    float64
 10  win_loss_value  1854 non-null   float64
 11  win_loss        1854 non-null   object
dtypes: datetime64[ns, America/New_York](1), float64(8), int64(1), object(2)
memory usage: 173.9+ KB

<ipython-input-7-cf85b0d685d2>:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
<ipython-input-7-cf85b0d685d2>:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

TypeError: ignored

Next Step = Cam to find Sectors and indexes

## Machine Learning Predictor